.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 59px;
       column-gap: 59px;
}
.header_box .header_menu {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header_box .header__menu_item {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.header_box .header__box_right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 22px 0 22px 0;
}

.checkbox_header {
  display: none;
}

.label,
.label2 {
  display: none;
}

.header_end {
  background-image: url(../images/baground.jpg);
  padding: 150px 0 0 0;
  height: 100vh;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.header_end_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
  max-width: 527px;
}

.header_end_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  max-width: 540px;
  padding-top: 40px;
  padding-left: 132px;
}

.header_end_image {
  position: absolute;
  top: 377px;
  left: 0;
}

.header_end_image2 {
  position: absolute;
  top: 377px;
  left: 803px;
}

.viziblty {
  display: none;
}

.header__menu_item,
.header__menu_item2 {
  transition: 0.3s;
  cursor: pointer;
}

.header__menu_item:hover {
  color: #005ddf;
  transform: scale(1.1);
}

.header__menu_item2:hover {
  color: #7d90ab;
  transform: scale(1.2);
}

.header_end_title {
  transition: 0.3s;
}

.header_end_title:hover {
  color: #599a9a;
  transform: scale(1.1);
}

.header_end_text {
  transition: 0.3s;
}

.header_end_text:hover {
  color: #599a9a;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header_end {
    text-align: center;
    background-position: right;
  }
  .header_end_image {
    display: none;
  }
  .header_end_image2 {
    display: block;
  }
  .header_end_image2 {
    left: -147px;
    top: 495px;
  }
  .header_end_title {
    margin: 0 auto;
  }
  .header_end_text {
    padding-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 568px) {
  .header__box_right {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 81px;
    max-width: 256px;
    height: 544px;
    background: #333A44;
    padding: 0 0 24px 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 10;
  }
  .label {
    display: block;
  }
  .header_menu {
    flex-direction: column;
    row-gap: 24px;
    padding: 64px 112px 0 0;
  }
  .checkbox_header:checked ~ .header__box_right {
    transform: translateX(0);
  }
  .checkbox_header:checked ~ .label {
    display: none;
  }
  .checkbox_header:checked ~ .label2 {
    display: block;
    position: relative;
  }
  .header_box {
    display: flex;
  }
  .header_end_image2 {
    left: -321px;
    top: 620px;
  }
  .header_end_image2 {
    display: block;
  }
  .header_end_text {
    max-width: 354px;
  }
  .header_end {
    background-position: right;
  }
  .viziblty {
    display: block;
  }
  .viziblty {
    visibility: hidden;
  }
  .header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.box__chilled_menu {
  max-width: 371px;
}

.chilled__menu_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #495567;
}

.chilled__menu_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  padding-top: 27px;
}

.box_hr {
  position: relative;
  top: 150px;
}
.box_hr .box__image_1 {
  position: absolute;
  left: 200px;
  top: 34px;
}
.box_hr .box__image_2 {
  position: absolute;
  left: 600px;
  top: 34px;
}
.box_hr .box__image_3 {
  position: relative;
  top: 34px;
  left: -14px;
}

.box__imagee {
  display: none;
}

.box__chilled_menu {
  margin-top: 200px;
}

.section__box_chilled {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.section__center_box {
  max-width: 510px;
}

.center__box_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
  padding-top: 24px;
}

.center__box_text {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  padding-top: 24px;
}

.fortitleh1 {
  display: none;
}

.section_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.section__center_right {
  position: relative;
}
.section__center_right .right__image_chilled22 {
  position: absolute;
  top: 102px;
  left: 198px;
}
.section__center_right .right__image_chilled2 {
  position: absolute;
  top: 47px;
  left: -198px;
}

.right__image_chilled {
  position: absolute;
  top: 200px;
  right: -155px;
}

.center__image2 {
  display: none;
}

.right_image2 {
  border-radius: 50%;
}

.box__image_1,
.box__image_2,
.box__image_3 {
  transition: 0.3s;
}

.box__image_2:hover {
  transform: scale(1.1);
}

.box__image_3:hover {
  transform: scale(1.1);
}

.box__image_1:hover {
  transform: scale(1.1);
}

.chilled__menu_title,
.chilled__menu_text {
  transition: 0.3s;
}

.chilled__menu_title:hover {
  transform: scale(1.1);
  color: #e89e9e;
}

.chilled__menu_text:hover {
  transform: scale(1.1);
  color: #e89e9e;
}

.center__box_title {
  transition: 0.3s;
}

.center__box_title:hover {
  transform: scale(1.1);
  color: aquamarine;
}

.right_image {
  transition: 0.3s;
}

.right_image:hover {
  transform: scale(1.1);
}

.center__box_text {
  transition: 0.3s;
}

.center__box_text:hover {
  transform: scale(1.1);
  color: aqua;
}

.imaging {
  transition: 0.3s;
}

.imaging:hover {
  transform: scale(1.1);
}

.footer__box_title {
  transition: 0.3s;
}

.footer__box_title:hover {
  transform: scale(1.1);
  color: rgb(148, 96, 197);
}

@media (max-width: 768px) {
  .section__box_image {
    display: none;
  }
  .box__image_1 {
    display: none;
  }
  .box__image_2 {
    display: none;
  }
  .box__image_3 {
    display: none;
  }
  .section__box_chilled {
    flex-direction: column;
    text-align: start;
    align-items: center;
    row-gap: 40px;
  }
  .section__box_chilled .box__chilled_menu {
    margin-top: 0;
  }
  .header_end {
    margin-bottom: 122px;
  }
  .section_center2 {
    flex-direction: column;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 120px;
  }
  .section_center {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    row-gap: 56px;
  }
  .right_image {
    width: 445px;
  }
  .right__image_chilled {
    max-width: 650px;
    right: -96px;
  }
}
@media (max-width: 568px) {
  .box_hr {
    position: unset;
  }
  .section__center_right {
    position: relative;
  }
  .section__center_right .right__image_chilled2 {
    position: absolute;
    top: 47px;
    left: -121px;
  }
  .box__imagee {
    display: block;
    margin: 0 auto;
  }
  .section__box_chilled {
    text-align: center;
  }
  .chilled__menu_title {
    padding-top: 24px;
  }
  .right__image_chilled {
    display: none;
  }
  .section__center_right {
    position: relative;
  }
  .center__image2 {
    display: block;
    position: absolute;
    right: -39px;
    top: 163px;
  }
  .right_image {
    max-width: 311px;
  }
  .section__center_right {
    position: relative;
  }
  .section__center_right .right__image_chilled22 {
    position: absolute;
    top: 6px;
    left: 124px;
  }
  .viziblty {
    visibility: hidden;
  }
  .header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fortitle {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer_start {
  background: #495567;
  padding: 100px 0;
}

.footer__box_title {
  max-width: 455px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_end {
  background: #333A44;
  padding: 35px 0;
}

.footer_icon {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}

.header__menu_item2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header_menu2 {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.footer_icon_chiled2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer_box {
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 568px) {
  .footer_icon {
    flex-direction: column;
    row-gap: 40px;
  }
  .header_menu2 {
    flex-direction: column;
    row-gap: 16px;
  }
  .footer_icon_chiled2 {
    flex-direction: column;
    text-align: center;
    row-gap: 85px;
  }
  .chilled_footer_right {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .imaging {
    max-width: 113.57px;
    height: 40px;
  }
}
@font-face {
  font-family: Space;
  font-style: normal;
  src: url(../fonts/SpaceMono-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 15px;
}

body {
  font-family: "Space";
  overflow-x: hidden;
}

.button_end {
  margin-top: 40px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn {
  background: #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  border: none;
  padding: 14px 39px;
  color: #FFFFFF;
  transition: 0.3s;
}

.btn:hover {
  background-color: #FFFFFF;
  color: black;
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */